* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        Inter,
        Poppins,
        sans-serif;

    background: #071028;

    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}